[Unit]
Description=mqtt-reactor
After=network.target

[Service]
EnvironmentFile=/etc/environment.d/mqtt-reactor.env
Type=simple
ExecStart=npm run start
WorkingDirectory=/home/dietpi/workspace/mqtt-reactor
Restart=always
TimeoutStartSec=0
RestartSec=10s
User=dietpi

[Install]
WantedBy=multi-user.target

